<link rel="stylesheet" href="./css/index.css">
<script src="./js/index.js"></script>

<div class="index-container">
  <h1>Welcome to the GitLab Issues Tracker</h1>
  <p>Track and manage your issues in real-time.</p>
  <button id="issues-btn">View Issues</button>
</div>
